# dependencies
/node_modules

# next.js
/.next/
/out/

/docs/
# production
/build

# env
.env
.env*.local

# prisma
/prisma/generated

# logs
*.log
npm-debug.log*

# misc
.DS_Store
*.pem
.idea
.vscode/*
!.vscode/extensions.json

# typescript
*.tsbuildinfo
next-env.d.ts
